.columns {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content;
}

.column {
    margin: auto 0;
}

.column > * {
    margin: 20px 0;
}

.rows {
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

.row {

}

.row_centered {
    margin: 0 auto;
}

.row > * {
    margin: 20px 0;
}

mark {
    font-weight: 600;
    padding: .1em 0 !important;
}

.show {
    opacity: 1 !important;
}

code-block {
    background-color: #eeeeee;
    /*background: linear-gradient(#eeeeee, #dbdbdb);*/
    border-radius: 6px;
    /*border-right: .1em solid #dbdbdb;*/
    /*border-bottom: .1em solid #dbdbdb;*/
    padding: .4em;
    display: flex;
    flex-direction: column;
}

code-offset {
    padding: 0 0 0 2em;
    display: flex;
    flex-direction: column;
}

code-block code {
    background-color: initial !important;
}

span.css_numeric {
    color: cornflowerblue;
}

span.css_property {
    color: mediumvioletred;
}

span.css_selector {
    color: seagreen;
}

span.css_comment {
    color: gray;
}