.columns {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content;
}

.column {
  margin: auto 0;
}

.column > * {
  margin: 20px 0;
}

.rows {
  display: grid;
}

.row {

}

.row_centered {
  margin: 0 auto;
}

.row > * {
  margin: 20px 0;
}